mule-salesforce-service/src/main/app/mule-salesforce-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <sfdc:config name="Salesforce__Basic_Authentication" username="devendra.khati@capgemini.com" password="Mulesoft1" securityToken="KMrzMs1MJG4VKczor9DfcF3n" doc:name="Salesforce: Basic Authentication"/>
    <flow name="mule-salesforce-serviceFlow">
        <choice doc:name="Choice">
            <when expression="#[flowVars.id != null]">
                <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:" doc:name="Salesforce By Id"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
paylold]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <sfdc:query-all config-ref="Salesforce__Basic_Authentication" query="dsql:" doc:name="Salesforce"/>
                <variable-transformer doc:name="Variable"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
paylold]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
    </flow>
</mule>
